.hora::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 100px;
    background: crimson;
    z-index: 11;
    border-radius: 50vh;
}
.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background: aqua;
    z-index: 12;
    border-radius: 50vh;
}
.hora, .minuto, .segundo {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}
